<div>
    <div style="color:white;border-radius:3px;background-color:black;padding:4px;" > Assignments >> 
        <span class="glyphicon glyphicon-plus"> <a [routerLink]='["add-assignment"]' class="glyphicon glyphicon-plus" ></a> </span>
    </div>
    <div *ngIf="assignments.length > 0">
        <br *ngIf="isTeacher">
        <br *ngIf="isTeacher">
        <span class="glyphicon glyphicon-plus" *ngIf="isTeacher" style="float:right"></span>
    <div [style.borderBottomColor]="assignment.colorCode" class="cards" *ngFor="let assignment of assignments" (click)="openAssignment(assignment)" >
        <span>{{assignment.heading}}</span>
        <br>
        <span [style.color] = "assignment.colorCode">
            @{{assignment.status}}
        </span><br>
        <span>
            {{assignment.subject}}
        </span><br>
        <span>
            from {{getTeacherName(assignment.teacherId)}}
        </span>

        <br>
        <br>
        <span>
            On {{assignment.dateOfTest | date}}
        </span><br>
        <span>
        from {{assignment.startTime}} to {{assignment.endTime}}
    </span>
    </div>
    </div>
</div>

<!-- open assignment -->
<div class="modal fade" id="openAssignment" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{selectedAssignment.heading}}</h4>
            </div>
            <div class="modal-body">
              <span>Subject : 
                  {{ selectedAssignment.subject }}
              </span>
              <br>
              <span [style.color]="selectedAssignment.colorCode" >
                @{{ selectedAssignment.status}}
              </span>
              <br><br>
              <span>
                On {{selectedAssignment.dateOfTest | date}}
            </span><br>
              <span>
                from  {{getTeacherName(selectedAssignment.teacherId)}}
              </span>
              <hr>
              <span>
                  INSTRUCTIONS : <br>
                  {{
                      selectedAssignment.instructions
                  }}
              </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button *ngIf="selectedAssignment.status == 'Inprogress'" type="button" class="btn btn-primary">Start Test</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      