<div style="padding:10px">
    <form (ngSubmit)="onSubmit(val)" #val="ngForm" >
        <label for="enr">Enrollment No</label>
        <input class="form-control" type="text" name="Enrollment_No" ngModel>
        <label  for="name">Name</label>
        <input class="form-control" type="text" name="Name" ngModel>
        <label for="email">Email</label>
        <input type="email" class="form-control" name="Email" ngModel>
        <label for="semester">Semester</label>
        <input type="number" class="form-control" name="Semester" ngModel>
        <br>
        <input type="submit" class="btn btn-primary">
    </form>
</div>

<div class="modal fade" id="message" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Message</h4>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->