<div style="color:white;border-radius:3px;" > 
    <span style="width:50%;display:inline-block;background-color:black; "><a  style="display: block;padding:4px;border:1px solid black;" [routerLink] = "['student-create']" routerLinkActive="active"> Student Create </a> </span> 
    <span style="width:49.5%;display:inline-block;background-color:black;"> <a style="display: block;padding:4px;border:1px solid black; " [routerLink] = "['teacher-create']" routerLinkActive="active"> Teacher Create </a></span> 
</div>
<router-outlet></router-outlet>