<div class="login-wrapper">
    <div class="header">
        <img class="logo" src="/assets/logoclg.png" alt="logo">
        <div class="headnav">
        <div class="heading">
            Ch. B. P. Govt. Engineering College, Jaffarpur<br>
            <span id="smallhead">(Govt. of NCT of Delhi)</span>   
        </div>
    </div>
    </div>
    <br><br><br>
    <div>
        <form class="form">
            <input type="text" placeholder="Enrollment No."/>
            <input type="text" placeholder="Password"/>
            <input type="submit"/>
        </form>
    </div>    
    <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
        <li></li>
        <li></li>
        <li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul> 
</div>