<div>
        <div class="topnavhead" > Feedbacks >> </div>
    <br>
    <div *ngIf="feedbacks.length == 0" style="margin-top:20px">
        <div style="margin:auto" class="loader"></div>
    </div>
        <ul style="padding:10px;" class="list-group">
        <li *ngFor="let feedback of feedbacks" class="list-group-item">
            <b> {{feedback.heading}}</b><br>
            <br>
            {{feedback.message}}
            <br>
            <span>
                - from 
                {{feedback.name}} ({{feedback.id}})    
            </span>  
        </li>
    </ul>
    <div>
        <span *ngIf="isMore" (click)="getFeedback()" class="glyphicon glyphicon-chevron-down"></span>
    </div>
</div>