/* You can add global styles to this file, and also import other style files */
.topnavlink{
    display: block;
    padding:4px;
    color:#3f4a52;
     border:1px solid #3f4a52;
     border-radius:5px;
}

.topnav{
    width:49.7%;
    display:inline-block;
    background-color:white;
    color:black; 
}

.topnavhead{
    color:white;
    background-color:#3f4a52;
    border-radius:3px;
    padding:4px;
}

@media all and (max-width:500px){
    .topnav{
        width : 48%;
    }
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }