@media print {
    body {
      display : none;
    }
    /* #printable, #printable * {
      visibility: visible;
    }
    #printable {
      position: absolute;
      left: 0;
      top: 0;
    } */
  }